.mt-6r{
    margin-top: 5rem;
}
.minusm-mt-50{
    margin-top: 50px;
}
.minusm-pt-0{
    padding-top: -0px !important;
}
.skills__100{
    width: 100%;
}
.direction{
    font-size: 2rem;
    /* margin-top: -30px; */
}
.home__title{
    line-height: 45px;
}
.my-btn{
    background-color: #fff;
    border: 1px solid var(--first-color);
    color: var(--first-color);
}
.button{
    border: 1px solid var(--first-color)
}
@media screen and (min-width: 576px){
    .about__container {
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media screen and (max-width: 768px){
    .home__social-icon{
        margin: 0px 10px;
    }
    .home__img {
        position: relative;
        bottom: 40px;
    }
    .home-mobil{
        padding-top: 0px;
        margin-top: 0px;
        height: 90vh;
    }
}
.item1{
    grid-column: 1 / span 2;
}
.grit2{
    grid-row: 2;
}
.grit1{
    grid-row: 1;
}
/* @media screen and (max-width: 576px){
    .about__img{
        grid-column: 1 / span 2;
    }
    .w-100{
        width: 100% !important;
    }
} */
.text-progect{
    
    line-height: 19px;
    font-size: 15px;
}
.text-progect b{
    width: 200px;
    text-align: right;
}
.itne-about-my{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #0d173094;
    color: var(--second-color);
    padding: 1rem 0.5rem;
    margin-bottom: 0;
    position: relative;
   
}
.itne-about-my .about__subtitle {
    margin-bottom: 0.05rem!important;
}

.bx-right-arrow-alt{
    font-size: 2rem;
}
.l-main{
    min-height: calc(100vh - 232px);
}
.min-h800{
    min-height: 900px;
}
.itne-about-my:hover:before,
.itne-about-my:hover:after {
    opacity: 1;
    transform: none;
}

.itne-about-my:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 8%);
    transition: 0.3s all ease;
    opacity: 0;

}
.itne-about-my:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: url(../img/arrow-right.svg) no-repeat center center/cover;
    opacity: 0;
    transform: translateX(-10px);
    transition: 0.3s all ease;
}

.sticky {
    display: inline-block;
    padding: 8px 25px 11px;
    border-radius: 50px;
    background: #eee;
    top: 100px;
    font-size: 20px;
    margin-bottom: 20px;
    z-index: 2;
    width: 100px;
    margin-left: -37px;
}